 /* Set body styles */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Graffiti font', sans-serif;
  color: white;
}

/* Set video background styles */
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Set logo styles */
#logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Set navigation bar styles */
#navbar {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 100%;
  z-index: 1;
  display:inline-block;
  justify-content: left;
}

.nav-item {
  font-family: 'Graffiti font', sans-serif;
  margin-right: 20px;
 float: left;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/* Set circle styles */
.circle-container {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1;
 padding: 20px;
}


/* Set circle styles */
.circle {
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.rentals {
  background-image: url("../images/rentals.png");
  float: left;
  margin-right: 35px;

}

.merch {
  background-image: url("../images/merch.png");
  float: left;
  margin-right: 35px;

}

.my-story {
  background-image: url("../images/my-story.png");
  float: left;
}


.circle:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
 width: 250px;
 height: 250px;
}

/* Set footer styles */
#foot {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 100%;
  padding: 10px;
  z-index: 1;
  display: inline-block;
  justify-content: left;
  align-items: left;
}

.foot-item {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 60px;
  float: left;
}
.copy {
  font-family: 'Graffiti font', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
 margin-left: 400px;
 float: left;
 
}

.footer-link:hover {
  color: #bbb;
}
