 /* Set body styles */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Graffiti font', sans-serif;
  color: white;
}

/* Set video background styles */
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Set logo styles */
#logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Set navigation bar styles */
#navbar {
  position: absolute;
  display: inline-block;
  z-index: -1;
  display: flex;
top: 5px;
 left: 75px;
}

.nav-item {
  margin: 20px;
 float: left;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/* Set circle styles */
.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}


/* Set circle styles */
.circle {
  top: 70%;
  z-index: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.rentals {
  background-image: url("../images/rentals.png");
  float: left;
}

.merch {
  background-image: url("../images/merch.png");
  float: left;
}

.my-story {
  background-image: url("../images/my-story.png");
  float: left;
}


.circle:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
 width: 250px;
}

/* Set footer styles */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #222;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

.footer-link:hover {
  color: #bbb;
}
